body {
	background-color: #FFF;
}

/* formatting the title div */
#title {
	margin: 1% 0% 0.5% 17%;
}

/* formatting of title image*/
#title img {
	height: 225px;
	width: 80%;
}

/* formats the content */
#contentmine {
	width: 67%;
	position: relative;
	left: 230px;
}

/* formats the sidebar to stay on the right */
#sidebar {
	float: right;
	width: 17%;
	text-align: left;
	height: 400px;
	
	position: relative;
	top: -90px;
}

/* ONLY positions the menu div */
#menu {
	position: relative;
	top: 55px;
	left: -10px;
}