body {
	background-color: #FFF;
}

/* formatting the title div */
#title {
	margin: 1% 0% 0.5% 16%;
}

/* formatting of title image*/
#title img {
	height: 175px;
	width: 80%;
}

/* formats the content */
#content {
	float: left;
	margin-left: 200px;
	width: 67%;
}

/* formats the sidebar to stay on the right */
#sidebar {
	float: right;
	width: 17%;
	text-align: left;
	border: 1px solid black;
	height: 400px;
}

/* ONLY positions the menu div */
#menu {
	position: relative;
	top: 20px;
	left: 20px;
}